---
type: wan_router
wan_mode: cv-pathfinder
wan_router:
  nodes:
    - bgp_as: 65000
      name: missing-parent-of-l3-port-channel-sub-interface
      id: 1
      loopback_ipv4_pool: 192.168.0.0/24
      vtep_loopback_ipv4_pool: 192.168.1.0/24
      l3_port_channels:
        - name: Port-Channel5.108
          encapsulation_dot1q_vlan: 108
          wan_carrier: FOO
          ip_address: 192.168.100.115/31
          peer: peer2
          peer_port_channel: Port-Channel15
          peer_ip: 192.168.1.15
wan_carriers:
  - name: FOO
    path_group: INTERNET
    trusted: true
wan_path_groups:
  - id: 100
    name: INTERNET
expected_error_message: >-
  One or more L3 Port-Channels 'Port-Channel5' need to be specified as they have sub-interfaces referencing them.
